@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins', sans-serif;    
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}
/*
.navbar-brand {
    border-radius: 50px;
    transition: box-shadow 0s ease-in-out;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    
}
  
.navbar-brand:hover {
    background-color: rgba(171, 171, 171, 0.1);
    box-shadow: 0px 1px 30px rgba(55, 55, 55, 0.1); 
}

.nav-link:hover{
    background: linear-gradient(
        120deg,
        hsla(168, 85%, 52%, 0.5),
        hsla(263, 88%, 45%, 0.5) 100%
      );
    color: white;
    border-radius: 50px;
}

*/

.section-padding{
  padding: 100px 0;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 270px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p{
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.carousel-caption .btn{
  margin-top: 10px;
  text-transform: uppercase;
  background-color: rgb(255, 241, 81);
  color: rgb(0, 0, 0);
  border-radius: 17px;
}

.carousel-caption .btn:hover {
  transition: 0.3s;
  background-color: rgb(255, 234, 0);
  color: white;
}

.w-100{
  background-size: cover;
  min-height: 60vh;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 270px;
  }
  .carousel-caption p{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-caption{
    bottom: 270px;
  }
  .carousel-caption a{
    padding: 10px 15px;
  }
  .carousel-caption p{
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
}

/* About Me Section */
.section{
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
}
.container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section{
  float: left;
  width: 55%;
}
.image-section{
  float: right;
  width: 40%;
}
.image-section img{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.content-section .title{
  text-transform: uppercase;
  font-size: 28px;
}
.content-section .content h3{
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
  font-weight: 800;
}
.content-section .content p{
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.5;
  text-align: justify;
}
.content-section .content .btn{
  padding: 12px 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  letter-spacing: 1.5;
  background-color: rgb(99, 99, 99);
}
.content-section .content .btn:hover{
  background-color: rgb(255, 162, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0px 1px 40px rgba(55, 55, 55, 0.5);
}
.content-section .social{
  margin: 40px 40px;;
}
.content-section .social .fa-linkedin{
  color: #0077b5;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social .fa-github{
  color: #4078c0;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social .fa-instagram{
  color: purple;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social i:hover{
  color: #5d5d5d;
}

@media screen and (max-width: 768px) {
  .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section .title{
    text-align: center;
    font-size: 19px;
  }
  .content-section .social{
    text-align: center;
  }
}

/* Table Page */
@media only screen and (max-width:800px) {
  .resp-table tbody,
  .resp-table tr,
  .resp-table td {
      display: block;
  }
  .resp-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
  .resp-table td {
      position: relative;
      padding-left: 50%;
      border: none;
      border-bottom: 1px solid #eee;
  }
  .resp-table tr {
      border-bottom: 1px solid #ccc;
  }
}
.table-responsive .btn{
  padding: 12px 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  letter-spacing: 1.5;
  position: relative;
  background-color: rgb(99, 99, 99);
  align-content: center;
}
.table-responsive .btn:hover{
  background-color: rgb(255, 162, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0px 1px 5px rgba(55, 55, 55, 0.5);
}

/* Form Area */

.form-area {
	padding-top: 7%;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background: blueviolet;
	padding: 200px 98px;
}
.left h2 {
	font-family: poppins;
	color: #fff;
	font-weight: 700;
	font-size: 48px;
}
.left h2 span {
	font-weight: 100;
}
.single-form{
    background: #fff;
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 2px solid #000;
}
.right button {
	border: none;
	border-radius: 0;
	background: #252525;
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    background-color: #252525;
}
.btn{
    margin-top: 30px;
    padding: 15px;
    text-transform: uppercase;
    background-color: rgb(192, 53, 252);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-color: rgb(214, 119, 255);
}  
.btn:hover {
    transition: 0.3s;
    background-color: rgb(179, 0, 255);
    border-color: rgb(214, 119, 255);
    color: white;
}

/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -40px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}